/* From Google */
/* font-family: 'Charm', cursive; */
/* font-family: 'Abril Fatface', cursive; */

html {
    background: url(images/31338.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

h1, header, #results {
    font-family: 'Charm', cursive;
    font-size: 50px;
    text-align: center;
    color: #FFC300;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-family: 'Charm', cursive;
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-family: "Abril Fatface", cursive;
    text-align: center;
    font-size: 24px;
}

img {
    height: 350px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

button {
    display: block;
    margin: 15px auto;
    padding: 5px 12px;
    border: 1.5px solid #65BF3E;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Abril Fatface',sans-serif;
    font-size: 20px;
    color:#65BF3E;
    text-align: center;
}
button:hover{
    color:#FFC300;
    border: 1.5px solid #FFC300;
}

a {
    font-family: "Abril Fatface", cursive;
    text-align: left;
    font-size: 10px;
    text-decoration: none;
    color: #65BF3E;
}

#credit {
    font-family: "Abril Fatface", cursive;
    text-align: left;
    font-size: 10px;
    text-decoration: none;
    margin: 0 0 0 300;
    color: white;
    position: absolute;    
}

#modal {
    background-color: rgba(178, 223, 159, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-box {
    background-color: #FFF4CF;
    height: 400px;
    width: 650px;
    margin: 150px auto;
    padding: 0 25px;
}

.questions button {
    display: block;
    margin: 25px;
}

.trivia {
    display: inline-flex;
    /* justify-content: center; */
}

.questions {
    flex: 1;
}

#triviaQs {
    background-color: #FFC300;
    font-size: 35px;
    flex-wrap: wrap;
}

#next {
    /*display: none; */
    font-family: "Abril Fatface", cursive;
    color: #FFC300;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}